.container-nav {
display: flex;
padding: 10px;
height: 50px;
background-color: black;
font-family: Verdana;
}
.navbar {
display: flex;
justify-content: space-between;
width: 100%;
}
.brand {
display: flex;
align-items: center;
}
li>a {
padding: 8px 24px;
}
li {
list-style-type: none;
}
a {
color: white;
text-decoration:none;
}
.nav-links {
display: flex;
align-items: center;
}
.button-menu-toggle {
display: none;
}
@media (max-width: 768px) {
    .column {
    flex: 100%;
    }
    .nav-links {
        display: none;
        }
        .button-menu-toggle {
        display: block;
        background-color: white;
        border:none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
        }
        .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20,20,20,0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap:70px;
        font-size: 40px;
        }
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            
          }
        .row{
            display: flex;
            flex-wrap: wrap;
            margin: 10px;
            background-color: rebeccapurple;
        }
        .column{
            flex:1;
            padding: 10px;
            background-color: red;
        }
        @media (max-width: 600px) {
            .column {
              flex: 100%;
            }
          }

          body {
            background-color: beige;
            color:rgb(48, 5, 59);
          }

          #imagenes{
            display: flex;
            justify-content: center;
            margin: auto;
          }

          img{
            height: 200px;
            width: 200px;
          }

          footer{
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color:darkkhaki;
            padding-top: 100px;
          }

          main{
            display: flex;
            justify-content: center;
          }

          footer button{
            height: 50px;
            width: 90px;
            background-color: rgb(99, 22, 22);
            font-style: italic;
            font-family: Verdana;
            margin:auto;
            font-weight:bolder;
          }

          h1{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 40px;
          }

          h2{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 25px;
          }

          p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
          }

          footer{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
          }

          li{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15px;
            font-variant: small-caps;
          }

          form label{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 13px;
          }

          form button{
            background-color: rgb(99, 22, 22);
            font-style: italic;
            font-family: Verdana;
            font-weight:bolder;
          }

          .greeting {
            text-align: center;
            margin:auto;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 21px;
            font-weight: lighter;
            }